* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  margin:0;
  height:104vh;
  user-select: none;
}

#canvas {
  width:100vw;
  height:104vh;
}

#rotate {
  display: none;
  transform: rotate(315deg);
  color: whitesmoke;
  font-size: 12vmin;
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 40vh;
  z-index: 1;
}

#buttons {
  color: gainsboro;
  font-size:  calc(64px - 0.4vw);
  position: absolute;
  right: 5vw;
  text-align: center;
  bottom: 5vh;
}

@supports not (-webkit-overflow-scrolling: touch) {
  #arrow-up:hover, #arrow-down:hover, #arrow-left:hover, #arrow-right:hover {
    color: white;
  }
}

#screen {
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: darkgray;
  display: none;
}

@media only screen and (orientation: portrait) {
  #rotate {
    display: inline-block;
  }
  #buttons {
    display: none;
  }
  #screen {
    display: unset;
  }
}

.fade-in {
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}